<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoma.email.mapper.BaseUserInfoMapper">


   <!-- 可根据自己的需求，是否要使用 -->
   <resultMap type="com.xiaoma.email.entity.BaseUserInfoEntity" id="BaseResultMap">
                      <result property="id" column="id"/>
                      <result property="account" column="account"/>
                      <result property="accountType" column="account_type"/>
                      <result property="accountId" column="account_id"/>
                      <result property="sellerNo" column="seller_no"/>
                      <result property="sellerName" column="seller_name"/>
                      <result property="status" column="status"/>
                      <result property="phone" column="phone"/>
                      <result property="email" column="email"/>
                      <result property="alwaysAllPermission" column="always_all_permission"/>
                      <result property="createUser" column="create_user"/>
                      <result property="updateUser" column="update_user"/>
                      <result property="createTime" column="create_time"/>
                      <result property="updateTime" column="update_time"/>
                      <result property="yn" column="yn"/>
                      <result property="manageDimension" column="manage_dimension"/>
                      <result property="registerRegion" column="register_region"/>
          </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                   id,
                   account,
                   account_type,
                   account_id,
                   seller_no,
                   seller_name,
                   status,
                   phone,
                   email,
                   always_all_permission,
                   create_user,
                   update_user,
                   create_time,
                   update_time,
                   yn,
                   manage_dimension,
                   register_region
            </sql>
<!-- 基础查询条件 -->
    <sql id="Base_Where_Clause">
        WHERE yn = 1
        <if test="sellerNo != null and sellerNo != ''">
            AND seller_no = #{sellerNo}
        </if>
    </sql>

    <!-- 分页查询条件 | 批量下载查询条件 -->
    <sql id="Page_Where_Clause">
        <if test="sellerNo != null and sellerNo != ''">
            AND seller_no = #{sellerNo}
        </if>
    </sql>

     <!-- 分页查询 -->
    <select id="listPage" resultType="com.xiaoma.email.entity.BaseUserInfoEntity">
        <include refid="Base_Column_List"/>
    </select>

    <!-- 批量导出 -->
    <select id="excelExport" resultType="com.xiaoma.email.entity.BaseUserInfoEntity">

    </select>

<!--   <select id="listAll" resultMap="BaseResultMap">-->
<!--       select account_id, seller_no from portal_base_user_info where yn = 1 and-->
<!--   </select>-->

   <select id="getAccountId" resultMap="BaseResultMap">
       select account_id,email from portal_base_user_info where yn = 1 and seller_no=#{sellerNo}
   </select>

   <select id="totalCountDimension" resultType="java.lang.Integer">
       SELECT COUNT(*) FROM portal_base_user_info
       WHERE yn = 1
       AND account_type = 1
       AND manage_dimension = #{countDimension}
   </select>

   <select id="taskPageManageDimension" resultMap="BaseResultMap">
       SELECT
       id, account_id
       FROM portal_base_user_info
       WHERE yn = 1
       AND account_type = 1
       AND manage_dimension = #{countDimension}
       AND id > #{id}
       ORDER BY id
       LIMIT #{pageSize}
   </select>
</mapper>
